<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nurserygardenandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NurseryGardenAndroid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activity.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.OrderSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddAddressActivity"
            android:exported="false" />
        <activity android:name=".ui.activity.BaseActivity" />
        <activity android:name=".ui.activity.WishListActivity" />
        <activity android:name=".ui.activity.AddressActivity" />
        <activity android:name=".ui.activity.CartActivity" />
        <activity android:name=".ui.activity.OrderActivity" />
        <activity android:name=".ui.activity.EditProfileActivity" />
        <activity android:name=".ui.activity.ProductDetailActivity" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.NurseryGardenAndroid.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity android:name=".ui.activity.CompleteProfileActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>